### 1072

In [389]:
X, Y = map(int, input().split())
Z = (Y * 100) // X

if Z >= 99:
    print(-1)
else:
    answer = 0
    left = 1
    right = X
 
    while left <= right:
        mid = (left + right) // 2
        if (Y+mid)*100 // (X+mid) <= Z:
            left = mid+1
            print("left = ", left)
            print((Y+mid)*100 // (X+mid))
        else:
            answer = mid
            right = mid - 1
            print("right = ", right)
 
    print(answer)

99000 0
right =  49499
right =  24749
right =  12374
right =  6186
right =  3092
right =  1545
left =  774
0
right =  1158
left =  967
0
right =  1061
right =  1013
left =  991
0
right =  1001
left =  997
0
left =  1000
0
right =  999
1000

### 1213

In [448]:
N = list(input())
N_set = list(set(N))
N_set.sort()

ans = ""
odd = 0
tmp = ""

for i in N_set:
    if N.count(i) % 2 != 0:
        odd += 1
        tmp = i
        
    if odd >= 2:
        ans = "I'm Sorry Hansoo"
        tmp = ""
        sna = ""
        break
    
    c = N.count(i) // 2
    ans += i*c
    sna = ans[::-1]

ans = ans + tmp + sna
print(ans)

AAABBBC
I'm Sorry Hansoo

### 1270

In [469]:
N = int(input())

for _ in range(N):
    T = list(map(int,input().split()))
    Ti = T[0]
    T = T[1:]
    D = dict()
    
    for i in T:
        if i not in D:
            D[i] = 1
        else:
            D[i] += 1

            
    if max(D.values()) <= Ti//2:
        print('SYJKGW')
    else:
        print(max(D, key=D.get))

4
10 1 2 3 1 2 3 1 2 3 1
SYJKGW
5 1 1 1 2 2
1
6 10 10 2 10 10 2
10
6 1 1 1 2 2 2
SYJKGW

### 1254

In [482]:
s = input()

for i in range(len(s)):
    if s[i:] == s[i:][::-1]:
        print(len(s)+i)
        break

abcb
5

### 1359

In [719]:
N, M, K = map(int,input().split())

N = [i for i in range(N,M,-1)]
M = [j for j in range(1,M+1)]

a_up, a_down = 1,1
A_up, A_down = 1,1
b_up, b_down = 1,1

for i, j in zip(N,M):
    b_up *= i
    b_down *= j
    
B = b_up/b_down
A = 0

for k in range(K):
    M_up = M[k:]
    M_down = M[:len(M)-k]
    
    m_up = M[len(M)-k:]
    m_down = M[:k]
    
    print(M_up)
    print(M_down)
    print(m_up)
    print(m_down)
    
    for q,p in zip(M_up, M_down):
        A_up *= q
        A_down *= p
    
    for q,p in zip(m_up, m_down):
        a_up *= q
        a_down *= p
        
    A += ((A_up/A_down) * (a_up/a_down))
    
print(1-A/B)

8 2 1
[1, 2]
[1, 2]
[]
[]
0.9642857142857143

In [693]:
(4*3*2*1) / (1*2*3*4)

1.0

In [695]:
(4*3*2)/(3*2*1) * (4/1)

16.0

In [696]:
(4*3)/(2*1) * (4*3/2*1)

36.0

In [700]:
(4)/(1) * (4*3*2)/(3*2*1)

16.0

In [701]:
(4*3*2*1) / (1*2*3*4)

1.0

In [547]:
# 다 틀릴 확률
((4*3*2*1)/(1*2*3*4)) / ((8*7*6*5)/(1*2*3*4))

0.014285714285714285

In [548]:
# 하나만 맞을 확률
(4/1)*((4*3*2)/(1*2*3)) / ((8*7*6*5)//(1*2*3*4))

0.22857142857142856

In [549]:
# 두개 맞을 확률
((4*3)/(1*2))*((4*3)/(1*2)) / ((8*7*6*5)//(1*2*3*4))

0.5142857142857142

In [550]:
# 세개 맞을 확률
((4*3*2)/(1*2*3))*((4)/(1)) / ((8*7*6*5)//(1*2*3*4))

0.22857142857142856

In [551]:
# 네개 맞을 확률
((4*3*2*1)/(1*2*3*4)) / ((8*7*6*5)/(1*2*3*4))

0.014285714285714285